a, p , h1 ,h2, h3 ,h4, h5, h6{
    user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
#bill_detail{
    width: 100%;
}
#bill_detail table{
    width: 100%;
    margin-left: 15px;
}
#bill_detail td,th{
    line-height: 40px;
    border-bottom: 1px solid #999999;
    min-height: 40px;
    text-align: center;
}

#stt{
    width: 5%;
}
#name_book{
    width: 30%;
}
#count{
    width: 10%;
}
#price{
    width: 15%;
}
#phantrang{
    margin-top: 10px;
}

span{
    color:red;
}
