a, p , h1 ,h2, h3 ,h4, h5, h6{
    user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
#forgot_password{
    width: 65%;
    margin: auto;
    min-height: 500px;
    text-align: center;
    border-top: 5px solid #999999;
}
#title{
    width: 100%;
    border: 1px solid #999999;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}
#forgot_password form{
    margin-left: 15px;
    margin: auto;
    width: 70%;
}
#forgot_password table{
    border: 5px ;
    margin: auto;
    line-height: 40px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #999999 ;

}
#forgot_password td{
    min-height: 40px;
    line-height: 40px;
    font-size: 20px;
}
#forgot_password th {
    height: 40px;
    font-size: 25px;
    line-height: 40px;
    border-bottom: 1px solid #999999;
}
#label{
    width: 30%;
    text-align: right;
}
#values{
    text-align: left;
    width: 60%;
}
#values input{
    width: 70%;
    line-height: 35px;
    height: 35px;
    font-size: 28px;
    border: 1px solid #999999;
    border-radius: 5px;
}
#forgot_password button{
    width: 100px;
    line-height: 30px;
    font-size: 18px;
    border: none;
    background-color: #FF0033;
    color: #FFFFFF;
    cursor: pointer;
}
#3 a{

    background-color: #FF0033;

}

.t{
    
    color: #FF0033;
    font-style: oblique;
    display: none;
}

#tTB{
    display: none;
    color:blue;
}

#call_back{
    display: none;
}