*{
    margin: 0;
    padding: 0;
}

#title{
    font-size: 25px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#list_bill{
    width: 100%;
    min-height: 500px;
    margin-bottom: 200px;
    margin: auto;
    padding-left: 10px;
}
#list_bill table{
    width: 100%;
    line-height: 40px;
}
#list_bill td, th{
    border-bottom: 1px solid #CCCCCC;
}
#list_bill table td{
    text-align: center;
}
#delete input{
    background-color: #FFFFFF;
    cursor: pointer;
    border: none;
    font-size: 18px;
    color: #0e90d2;
}
#delete input:hover {
    color: red
}
#stt{
    width: 10%;
}
#date_bill{
    width: 20%;
}
#totalprice{
    width: 20%;
}
#status{
    width: 20%;
}
#show_detail{
    width: 20%;
}
#show_detail a{
    color: blue;
}
#show_detail a:hover{
    color: red;
    font-style: oblique;
}

#phantrang{
    margin-top: 10px;
}

span{
    color:red;
}
.selected{
    background-color: #ed1d25;
    color: #fff;
    border-color: #ed1d25;
    font-size: 15px;
    height: 30px;
    width: 30px;
    line-height: 26px;  
    border-radius: 5px;
    margin: 0 2px;
    display: inline-block;
    border: 1px solid #eaeaea;
    text-decoration: none;
    text-align: center;
    padding-top: 2px;
}
.phantrang{
  background-color: #CCCCCC;
  color: #333333;
  font-size: 15px;
  height: 30px;
  width: 30px;
  line-height: 26px;  
  border-radius: 5px;
  margin: 0 2px;
  display: inline-block;
  border: 1px solid #eaeaea;
  text-decoration: none;
  text-align: center;
  padding-top: 2px;
}
.phantrang:hover{
    background:#FE9003;
    border-color: #FE9003;
    color:#fff
}

