*{
    margin: 0;
    padding: 0;
}

#title{
    font-size: 25px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#list_bill{
    width: 100%;
    min-height: 500px;
    margin-bottom: 200px;
    margin: auto;
    padding-left: 10px;
}
#list_bill table{
    width: 100%;
    line-height: 40px;
}
#list_bill td, th{
    border-bottom: 1px solid #CCCCCC;
}
#list_bill table td{
    text-align: center;
}

#stt{
    width: 10%;
}
#date_bill{
    width: 20%;
}
#totalprice{
    width: 20%;
}
#status{
    width: 20%;
}
#show_detail{
    width: 20%;
}
#show_detail a{
    color: blue;
}
#show_detail a:hover{
    color: red;
    font-style: oblique;
}

#phantrang{
    margin-top: 10px;
}

span{
    color:red;
}
