
@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
hr{ width:90%; margin:auto; margin-top: 50px; margin-bottom: 50px;}

#main_home{ width:100%;}

#slide{ 
	width:100%;
	height:150px;
	margin-bottom:25px;
	background-color:#999;}

#sach_noibat{
	width:100%;
	margin-bottom:50px;}
#sach_moi{
	width:100%;
	min-height:1200px;
	margin-bottom:50px;}
#show_all_new{
	width: 170px;
	margin: auto;
}
#show_all_new a{
	padding: 5px;
	background-color: darkgreen;
	color: #FFFFFF;
	margin: auto;
}
#sach_sapra{
	width:100%;
	min-height:100px;
}
#show_all_sapra{
	width: 190px;
	margin: auto;
	margin-bottom: 100px;
}
#show_all_sapra a{
	padding: 5px;
	background-color: darkgreen;
	color: #FFFFFF;
	margin: auto;
}
#tieude{
	width:100%;
	height: 50px;
	padding-top:20px;
	padding-bottom:10px;}
#tieude p{
	text-align:center;
	font-size:30px;
	color:#000;}

#sach{
	width:330px;
	height:460px;
	border:1px solid;
	border-color:#CCC;
	margin:5px;
	margin-top:25px;
	float:left;
}

.btn{
	width: 120px;
	height: 27px;
	line-height: 27px;
	font-size: 15px;
	margin: auto;
	background-color: #39F;
	position: absolute;
	display: none;
	text-align: center;
	border: #999 1px solid;
	margin-left: 100px;
	margin-top: -36px;
	text-decoration: none;
	color: #FFF;
	border-style: none;
	cursor: pointer;
}

#sach:hover #dathang .btn{
	display: block;
}
#sach:hover #dathang .btn{
	display: block;
}



#sach:hover{
	border-color: #39F;
}

#hinhsach {
	width: 300px;
	height: 220px;
	margin: auto;
	margin: 15px;
}
#hinhsach a{
	width: 300px;
	height: 220px;
	text-align: center;
}
#hinhsach a img{
	width: 300px;
	height: 220px;
} 
#tensach{
	width: 100%;
	height: 50px;
	font-size: 22px;
	text-align: center;
	color: #000;
	overflow: hidden;

}
#mota{
	height: 75px;
	width: 100%;
	margin-left: 15px;
	margin-top: 20px;
	overflow: hidden;

}
#gia{
	width: 100%;
	height: 50px;
	margin-left: 15px;
	font-size: 16px;
	margin-top: 8px;
}
#sach hr{
	width: 90%;
	margin-top: 5px;
	margin-bottom: 5px;
}
#gia1{
	width: 60%;
	float: left;
	border-right: 1px solid #999;
}
#km{
	width: 30%;
	float: left;
	font-size: 30px;
	padding-left: 15px;
	font-size: 40px;
	color: red;
	margin-top: -5px;
}
#sach a{ 
	text-decoration:none;}


fieldset{
	border-bottom: none;
	border-right: none;
	border-left: none;
	margin-top: 50px;
}
legend{
	text-align: center;
	margin: auto;
	font-size: 50px;
	color: #1b2426;
}
