button{
    border-style: none;
    background-color: #FF0033;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    height: 40px;
    cursor: pointer;

}

button:hover{
    opacity: 0.5px;
}
input{
    width: 60%;
}
#profile{
    width: 750px;
    min-height: 250px;
    border: 1px solid #CCCCCC;
    border-top: 4px solid #CCCCCC;
    line-height: 40px;
    margin: auto;
    margin-bottom: 200px;
    padding: 10px;
}
#profile table, form {
    width: 100%;
}
#values{
    margin-right: ; 
    padding-left: 10px;
}
#profile input{
    line-height: 20px;
}
#label{
    width: 150px;
    font-size: 18px;
    color: #000000;
}
#values{
    width: 300px;
    font-size: 20px;
    color: #333333;
    font-style: oblique;
}
#update{
    width: 150px;
}
#update:hover{
    opacity: 0.5;
}
#save{
    width: 150px;
    background-color:#0e90d2;
}
#save:hover{
    opacity: 0.5;
}
#change_pass{
    background-color: #0e90d2;
    width: 150px;
    color: #FFFFFF;
}
#change_pass:hover{
    opacity: 0.5;
}
#update_info{
    width: 200px;
}
#update_info:hover{
    opacity: 0.5;
}
#logout{
    width: 150px;
    display: block;
    background-color: #CC6600;
    color: #FFFFFF;
}
#logout:hover{
    opacity: 0.5;
}