#profile{
    width: 750px;
    min-height: 250px;
    border: 1px solid #CCCCCC;
    border-top: 4px solid #CCCCCC;
    line-height: 40px;
    margin: auto;
    margin-bottom: 200px;
    padding: 10px;
}
#profile table, form {
    width: 100%;
}
#profile input{
    line-height: 20px;
    font-style: 18px;
}
#label{
    width: 150px;
    font-size: 18px;
    color: #000000;
}
#values{
    width: 300px;
    font-size: 20px;
    color: #333333;
    font-style: oblique;
}
#update{
    width: 150px;
}
#save{
    width: 150px;
}
#change_pass{
    display: block;
    background-color: #0e90d2;
    width: 150px;
    color: #FFFFFF;
    float: left;
    text-align: center;
}
#logout{
    width: 150px;
    display: block;
    background-color: #CC6600;
    color: #FFFFFF;
    float: left;
    text-align: center;
}