#admin_book_insert{
    width: 100%;
}
#admin_book_insert form{
    width: 100%;
    margin-bottom: 100px;
    margin-left: 20px;
}
#admin_book_insert table{
    width: 85%;
    margin-left: 15px;
}
h1{
    margin-left: 15px;
    font-size: 35px;
    height: 40px;
    line-height: 40px;
    margin-top: 15px;
    color: #0e90d2;
}
#admin_book_insert td{
    border-bottom: 1px solid #999999;
    line-height: 20px;
    height: 40px;
    font-size: 20px;
}
#label{
    width: 20%;
}
#values{
    width: 80%;
    padding-left: 15px;
}
input{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #999999;
    padding-left: 10px;

}
#btn button{
    width: 100px;
    padding: 5px;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    font-family: "Times New Roman";
    background-color: #FF0033;
}
#btn a{
    width: 100px;
    padding: 5px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Times New Roman";

    background-color: #FF0033;
}
