@charset "utf-8";
/* CSS Document */
#btn_them {
	background-color: #666666;
	color: white;
	padding: 5px 10px;
	font-size: 15px;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 10%;
	float:left;
}
#btn_them:hover {
	background-color: #999999;
}
.btn_xoa {
background-color: #666666;
	color: white;
	padding: 5px 10px;
	font-size: 15px;
	cursor: pointer;
	margin-top: 5px;
}
.btn_xoa:hover{	background-color: #999999;}
.btn_them {
background-color: #666666;
	color: white;
	padding: 5px 10px;
	font-size: 15px;
	cursor: pointer;
	margin-top: 5px;
}
.btn_them:hover{	background-color: #999999;}
.btn_sua {
	color: blue;
	text-decoration: none;
	height: 20px;
	display: block;
	text-align: center;
}
.btn_sua:hover{color:red;}
.all {
	color:blue;	
	font-size: 16px;
	display:inline-block;
	width:100px;
	height:20px;

}
.deleted {
	color:blue;
	font-size: 16px;
	display:inline-block;
	width:100px;
	height:20px;
}
.form{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
	transition: all 0.5s;
	font-size: 20px;
}
.form2{
	animation-name: fade;
	animation-duration: 0.8s;
	margin:auto;width:50%;
	height:210px;
	background-color:white;
	box-shadow: 0 0 20px rgba(0,0,0,0.7);

}
#update{  text-align: center;cursor: pointer;color:green;}
#update:hover{color:red;}
.close {
	position: absolute;
	top: 90px;
	right: 25%;
	color: #000000;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
	cursor: pointer;
}
.dong{height:30px;border-bottom:1px solid #000;font-weight: normal;}
@keyframes fade {
	from {opacity: 0.1} 
	to {opacity: 1}
}
